.main {
    
  height: 98vh;   
  display: flex;
}
.first{
        
 height: 98vh;
 width: 30%;
}
.second{
          
          height: 98vh;
          width: 70%;
          background-color: rgb(221, 188, 252);
}
.sa{
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 6px;
    width: 20%;
    font-size: xx-large;
   
}
.main2{
    
      display: flex;
      height: 15vh;
}
h1 {
    text-align: center;
}
.people {margin-left:150px;
    margin-bottom:30px;
  
}
.words {
   text-align: center;

}
h2 { font-size: xx-large;}
span { display: block;
}
p{ font-size: xx-large;
}
.add{
    background-color: royalblue;
    border-radius:50%;
    width: 25%;
    height: 14vh;
margin-top: 25%;
text-align: center;
}
 .add i{
    text-align: center;
    margin: 30px;
    font-size: xx-large;
    color: white;
 }



.lassst {
    text-align: center;
    margin-top:220px;}
